/* Imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

/* Boilerplate */
*, *::before, *::after { box-sizing: inherit; }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body { 
    font-family: "Montserrat", sans-serif;
    font-size: 1.315rem;
    margin: 0;
} 

a {
    text-decoration: none;
}

/* Disables Viewer's Ability to Highlight Elements --------------------------------------------------------------*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }

/* Site CSS --------------------------------------------------------------*/

.row {
    /* display: flex => flex container */
    display: flex;
    /* default = row */
    flex-direction: row;
    /* gap: 100px "only works in Firefox rn" */
    justify-content: space-between;
}

.row2 {
    /* display: flex => flex container */
    display: flex;
    /* default = row */
    flex-direction: row;
    /* gap: 100px "only works in Firefox rn" */
    justify-content: space-between;
}

.col2 {
    width: 65%;
}

.container {
    margin: 0 auto;
    max-width: 1250px;
    width: 65%;
}

/* ------------------------------------------------------- */

/* nav */
header {
    background: #000;
    font-size: 1rem;
    padding: 1.25em 0;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 500;

    /* border: 2px solid red; */
}

.nav {
    display: flex;
    justify-content: space-between;

    /* border: 2px solid blue; */
}

.nav__list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    /* border: 2px solid yellow; */
}

.nav__item + .nav__item {
    margin-left: 2em;
}

.nav__link--logo {
    font-size: 2rem;
    opacity: .8;
    margin-right: 1rem;
    width: 100%;
}

.nav__link--logo-text {
    color: #fff;
    margin-right: 12rem;
    opacity: .75;
    width: 100%;
}

.nav__link {
    color: #fff;
    opacity: .9;
    text-decoration: none;
}

.nav__link--button {
    background-color: rgb(0, 204, 255);
    border-radius: 50px;
    color: #000;
    padding: .65em 2em;
    text-decoration: none;
    transition: .2s ease-in;
}

.nav__link--button:hover {
    background-color: #000;
    border-radius: 8px;
    color: rgb(0, 204, 255);
}

.nav__link:hover {
    opacity: .5;
}

/* ------------------------------------------------------- */

/* hero Section */
#hero {
    background-color: rgb(24, 24, 24);
    color: #fff;
    overflow: hidden;
    outline: none;
}

.hero__text {
    margin: 15rem 0;
    min-width: 20.3125rem;
    width: 80%;
    font-size: 1.6rem;
    opacity: .9;
}

.hero__text--h1-1 {
    line-height: 1.5em;
    margin-bottom: -1.75rem;
}

.hero__text--h1-2 {
    line-height: 1.5em;
}

.hero__text--p {
    line-height: 2em;
    margin-bottom: 3rem;
    opacity: .75;
}

.hero__btn {
    background-color: rgb(24, 24, 24);
    border: solid 2px;
    border-radius: 50px;
    color: rgb(0, 204, 255);
    display: inline-block;
    font-size: .75em;
    padding: .65em 2em;
    text-decoration: none;  
    text-transform: lowercase;
    transition: .2s ease-in;
}

.hero__btn:hover {
    background-color: rgb(0, 204, 255);
    box-shadow: 0 3px 15px rgb(0, 204, 255, 0.3);
    border: solid 2px transparent;
    border-radius: 8px;
    color: #000;
}

/* ------------------------------------------------------- */

/* two-col Section */
#two-col {
    background-color: #000;
    outline: none;
}

.two-col__container {
    margin: 6rem 0;
}

.col {
    width: 55%;
}

.two-col__text {
    font-size: 1.6rem;
    min-width: 16rem;
    line-height: 2em;
    opacity: .75;
}

.two-col__text--h2 {
    background: linear-gradient(to right, rgb(0, 204, 255) 10%, rgb(109, 255, 204) 35%, rgb(235, 235, 235) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.two-col__text--p {
    color: rgb(160, 160, 160);
    margin-bottom: 3rem;
}

.regular-link {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
}

.regular-link:hover {
    background: linear-gradient(to right, rgb(235, 235, 235) 10%, rgb(109, 255, 204) 35%, rgb(0, 204, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about__btn {
    background-color: #000;
    border: solid 2px;
    border-radius: 50px;
    color: rgb(0, 204, 255);
    display: inline-block;
    font-size: .75em;
    padding: .01em 2em;
    text-decoration: none;  
    text-transform: lowercase;
    transition: .2s ease-in;
}

.about__btn:hover {
    background-color: rgb(0, 204, 255);
    box-shadow: 0 3px 15px rgb(0, 204, 255, 0.3);
    border: solid 2px transparent;
    border-radius: 8px;
    color: #000;
}

.headshot {
    width: 100%;
    min-width: 22rem;
}

.circular-portrait {
    width: 375px;
    height: 375px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgb(109, 255, 204);
    margin-top: 13rem;
    min-width: 22rem;
}

/* ------------------------------------------------------- */

/* two-by Section */

#two-by {
    background-color: rgb(14, 14, 14);
    color: #fff;
    overflow: hidden;
    outline: none;
}

.involvement-container {
    margin: 8rem auto;
    width: 90%;

    /* border: 2px solid red; */
}

.involvement-h1 {
    text-align: center;
    background: linear-gradient(to right, rgb(0, 204, 255) 35%, rgb(109, 255, 204) 55%, rgb(235, 235, 235) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: .8;
}

.involvement-row__1 {
    margin: 6rem auto;

    /* border: 2px solid red; */
}

.involvement-row__2 {
    margin: 4rem auto;

    /* border: 2px solid red; */
}

.hover-link {
    text-align: center;
    width: 100%;
    box-shadow: 0 0 25px rgb(0, 204, 255, 0.3);
    border-radius: 50px;
    padding: 2em;
    min-width: 14rem;
    max-width: 21rem;

    /* border: 2px solid red; */
}

.hover-link:hover  {
    cursor: pointer;
    opacity: .5;
}

.fas {
    font-size: 2.5rem;
}

.fa-robot {
    color: rgb(109, 255, 204);
    opacity: .8;
}

.fa-code {
    color: rgb(0, 204, 255);
    opacity: .8;
}

.fa-laptop {
    color: rgb(0, 204, 255);
    opacity: .8;
}

.fa-hiking {
    color: rgb(109, 255, 204);
    opacity: .8;
}

.involvement-h3 {
    font-size: 1.25rem;
    opacity: .9;
}

.involvement-p {
    font-size: .98rem;
    color: rgb(160, 160, 160);
}

/* ------------------------------------------------------- */

/* experience -------------------------------------- */

#experience {
    background-color: rgb(14, 14, 14);
    color: #fff;
    overflow: hidden;
    outline: none;
   
    /* border: 2px red solid; */
}

.experience__container {
    margin: 5rem auto;
    text-align: center;
    font-size: 1.6rem;

    /* border: 2px red solid; */
}

.exp__p {
    color: rgb(160, 160, 160);
    line-height: 2em;
}

/* siemens */
.exp-cont__1 {
    margin: 0 auto;
    font-size: 1.6rem;

    border: 2px transparent solid;
}

.exp__h1-1 {
    padding-top: 5rem;
    color: rgb(231,231,231);
}

.exp__btn-1 {
    border: none;
    border-radius: 50px;
    background-color: #009999;
    color: #fff;
    font-size: 1rem;
    margin: .5rem;
    padding: .5rem 1rem;
    outline: none;
    /* opacity: .75; */
}

.line-1 {
    border-left: 3px solid #009999;
    padding-bottom: 2.5rem;
}

/* icr */
.exp-cont__2 {
    margin: 0 auto;
    font-size: 1.6rem;

    border: 2px transparent solid;
}

.exp__h1-2 {
    padding-top: 2.5rem;
    color: rgb(231,231,231);
}

.exp__btn-2 {
    border: none;
    border-radius: 50px;
    background-color: #000080;
    color: #fff;
    font-size: 1rem;
    margin: .5rem;
    padding: .5rem 1rem;
    outline: none;
    /* opacity: .75; */
}

.line-2 {
    border-right: 3px solid #000080;
    padding-bottom: 2.5rem;
}

/* intelligrated */
.exp-cont__3 {
    margin: 0 auto;
    font-size: 1.6rem;

    border: 2px transparent solid;
}

.exp__h1-3 {
    padding-top: 2.5rem;
    color: rgb(231,231,231);
}

.exp__btn-3 {
    border: none;
    border-radius: 50px;
    background-color: #f37021;
    color: #fff;
    font-size: 1rem;
    margin: .5rem;
    padding: .5rem 1rem;
    outline: none;
    /* opacity: .75; */
}

.line-3 {
    border-left: 3px solid #f37021;
    padding-bottom: 5rem;
}

/* ------------------------------------------------------- */

/* contact section */
#contact {
    /* height: 100vh; */
    overflow: hidden;
    background-color: #000;
    outline: none;
}

.contact-container {
    margin: 25rem auto;
    width: 65%;
    opacity: .75;
    color: #fff;

    /* border: 2px solid red; */
}

.contact-h1 {
    min-width: 22rem;
    font-size: 2.5rem;
}

.contact-link {
    text-decoration: none;
    color: rgb(0, 204, 255);
}

.contact-link:hover {
    opacity: .75;
}

/* ------------------------------------------------------- */

/* media queries */
@media (max-width: 600px) {
    .contact-h1 {
        font-size: 1.25rem !important;
    }

}

@media (max-width: 900px) {
    .two-col__text {
        font-size: 1.125rem !important;
        min-width: 17rem;
    }

    .contact-h1 {
        font-size: 1.5rem !important;
    }

    .contact-container {
        margin: 15rem auto 18rem;
        width: 85%;
    }

}

@media (max-width: 1200px) {
    .nav__list-item {
        display: none;
    }

    .nav__link--button:hover {
        background-color: rgb(0, 204, 255);
        border-radius: 50px;
        color: #000;
    }
    
    .nav__link:hover {
        opacity: 1;
    }

    .hero__text {
        margin: 12rem 0;
        font-size: 1.125rem !important;
        min-width: 18rem;
    }

    .hero__btn:hover {
        background-color: rgb(24, 24, 24);
        box-shadow: 0px 0px 0px;
        border: solid 2px;
        border-radius: 50px;
        color: rgb(0, 204, 255);
    }

    .about__btn:hover {
        background-color: #000;
        border: solid 2px;
        border-radius: 50px;
        color: rgb(0, 204, 255);
        box-shadow: 0px 0px 0px;
    }

    .circular-portrait {
        display: none;
    }

    .row2 {
        display: block;
    }

    .exp__h1-1 {
        font-size: 1.6rem;
    }

    .exp__h1-2 {
        font-size: 1.6rem;
    }

    .exp__h1-3 {
        font-size: 1.6rem;
    }

    .involvement-row__1 {
        margin: 0 auto;
    }

    .involvement-row__2 {
        margin: 0 auto;
    }

    .hover-link {
        margin: 5rem auto 0;
        opacity: 1;
    }

    .fas {
        font-size: 1.75rem;
    }

    .involvement-h3 {
        font-size: 1rem;
    }

    .involvement-p {
        font-size: .9rem;
    }

    .contact-link:hover {
        opacity: 1;
    }

}

@media (max-width: 1400px) {
    .circular-portrait {
        display: none;
    }

    .col {
        width: 100%;
    }


}

@media (max-width: 1600px) {
    .nav__link--logo-text {
        display: none;
    }

    .two-col__text {
        font-size: 1.2rem;
    }

    .exp__p {
        font-size: 1rem;
    }

}