/* Imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

/* Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

/* Disables Viewer's Ability to Highlight Elements --------------------------------------------------------------*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }

/* Cursor --------------------------------------------------------------*/
.cursor {
    pointer-events: none;
    position: absolute;
    z-index: 501;
}
.cursor__circle {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 501;
    transform: translateX(-50%) translateY(-50%);
}
.cursor__circle--big {
    stroke: #ffffff;
    position: fixed;
    fill: transparent;
    mix-blend-mode: difference;
    transform: translateX(-50%) translateY(-50%);
    z-index: 501;
}
.cursor__circle--small {
    fill: #ffffff;
    position: fixed;
    mix-blend-mode: difference;
    transform: translateX(-50%) translateY(-50%);
    z-index: 501;
}

/* Site CSS --------------------------------------------------------------*/

/* Navbar */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 15%;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.logo {
    margin-right: auto;
}

.logo-name {
    font-size: 30px;
    background-color: black;
    padding-right: 100px;
    transition: all 0.3s ease 0s;
    color: #fff;
}

.logo-name:hover {
    color: rgb(174, 174, 174);
}

.logo-text {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(174, 174, 174);
    background-color: black;
}

.nav-links {
    list-style: none;
    background-color: black;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    color: #fff;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgb(174, 174, 174);
}

.cta-button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(0, 204, 255);
    color: #000;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.cta-button:hover {
    background-color: rgba(0, 204, 255, 0.7);
    padding: 9px 15px;
    margin-left: 30px;
    margin-right: 10px;
}

.cta-button:focus {
    outline: none;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(174, 174, 174);
    text-decoration: none;
    background-color: black;
}

/* Landing Page */
.landing {
    height: 100vh;
    display: flex;
    justify-content: left;
    background-color: rgb(21, 21, 21);
}

.landing-h1 {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    margin-top: 275px;
    margin-left: 20%;
    font-size: 45px;
    position: absolute;
}

.landing-h1-2 {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    margin-top: 350px;
    margin-left: 20%;
    font-size: 45px;
    position: absolute;
}

.landing-h3 {
    color: rgb(182, 182, 182);
    font-family: "Montserrat", sans-serif;
    margin-top: 435px;
    margin-left: 20%;
    font-size: 24px;
    line-height: 50px;
    position: absolute;
    width: 900px;
}

.learn-more-btn {
    text-align: center;
    display: inline-block;
    padding: 9px 25px;
    font-size: 18px;
    z-index: 10;
    border: 2px solid transparent;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    margin-top: 625px;
    margin-left: 20%;
	color: rgb(0, 204, 255);
    background-color: rgb(33, 33, 33);
    border-radius: 50px;
    border: 2px solid;
    transition: .2s ease-in;
    
}

.learn-more-btn:hover {
    border-radius: 8px;
    color: black;
    background-color: rgb(0, 204, 255);
    box-shadow: 0 3px 20px rgb(0, 204, 255, 0.3);
    border: 2px solid transparent;
}

/* Landing Page Scrolldown Animation */
#scrolldown-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin-top: 800px;
    margin-left: 1600px;
}
#scroll-down-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
#scroll-down {
    display: block;
    position: absolute;
    padding-top: 79px;
    text-align: center;
    z-index: 100;
}
.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
    z-index: 100;
}
.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#scroll-title {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
}
#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1,0,0,1) infinite;
    -moz-animation: elasticus 1.2s cubic-bezier(1,0,0,1) infinite;
    -o-animation: elasticus 1.2s cubic-bezier(1,0,0,1) infinite;
    animation: elasticus 1.2s cubic-bezier(1,0,0,1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 90px;
    background: #ffffff;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform: scale(1,0);
   }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
   }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
   }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform: scale(1,0);
   }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform: scale(1,0);
   }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
   }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
   }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform: scale(1,0);
   }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform: scale(1,0);
   }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
   }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
   }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform: scale(1,0);
   }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform: scale(1,0);
   }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
   }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
   }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1,0);
        -ms-transform: scale(1,0);
        -moz-transform: scale(1,0);
        -o-transform: scale(1,0);
        transform: scale(1,0);
   }
}
#paschka {
    display: block;
    color: white;
    font-family: helvetica neue, helvetica, arial;
    font-size: 32px;
    text-decoration: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0px;
    transition: all .1s ease;
    background: #000;
    height: 40px;
    line-height: 30px;
    width: 40px;
    text-align: center;
    border-radius: 5%;
    bottom: 20px;
    right: 20px;
}
#paschka:hover {
    background: #232323;
    transition: all .1s ease;
    color: #f0f0f0;
}


/* About Section --------------------------------------------------------------*/
.about {
    height: 100vh;
    display: flex;
    justify-content: left;
    background-color: rgb(0, 0, 0);
}

/* .bg-about-text {
    position: absolute;
    color: rgb(12, 12, 12);
    font-family: "Montserrat", sans-serif;
    font-size: 400px;
    letter-spacing: 35px;
    align-self: center;
    left: 60%;
    width: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
} */

.about-h1 {
    position: absolute;
    /* color: rgb(235, 235, 235); */
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 55px;
    margin-top: 150px;
    margin-left: 20%;

    background: linear-gradient(to right, rgb(235, 235, 235) 0%, rgb(118, 50, 255) 35%, rgb(0, 204, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about-p {
    position: absolute;
    color: rgb(121, 121, 121);
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    line-height: 45px;
    width: 620px;
    margin-top: 250px;
    margin-left: 20%;
}

.regular-link {
    font-size: 26px;
    color: rgb(235, 235, 235);
    background-color: transparent;
}

.regular-link:hover {
    background: linear-gradient(to right, rgb(235, 235, 235) 10%, rgb(118, 50, 255) 35%, rgb(0, 204, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.circular-portrait.headshot {
    width: 100%;
    height: auto;
}

.circular-portrait {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 260px;
    margin-left: 58%;
    border: 2px solid;
    border-color: rgb(157, 109, 255);
}

/* Leadership Section */
.leadership {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.leadership-h1 {
    position: absolute;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    margin-top: 65px;
    background: linear-gradient(to right, rgb(235, 235, 235) 10%, rgb(118, 50, 255) 35%, rgb(0, 204, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.leadership-container {
    position: relative;
    height: 80%;
    width: 100%;
    text-align: left;
}

.lead-h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
}

.lead-p {
    color: rgb(130, 130, 130);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.fa-robot {
    color: rgb(118, 50, 255);
    font-size: 40px;
}

.lead-h2-1 {
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
    line-height: 50px;
}

.fa-laptop {
    color: rgba(0, 204, 255);
    font-size: 40px;
}

.lead-h2-2 {
    position: absolute;
    margin-left: 60%;
    margin-top: 10%;
    line-height: 50px;
    
}

.fa-code {
    color: rgba(0, 204, 255);
    font-size: 40px;
}

.lead-h2-3 {
    position: absolute;
    margin-left: 20%;
    margin-top: 30%;
    line-height: 50px;
}

.fa-hiking {
    color: rgb(118, 50, 255);
    font-size: 40px;
}

.lead-h2-4 {
    position: absolute;
    margin-left: 60%;
    margin-top: 30%;
    line-height: 50px;
}

/* Experience 1 Section --------------------------------------------------------------*/
.experience {
    height: 100vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

.hw-img {
    position: absolute;
    margin-top: 10%;
}

.exp-1-sa {
    position: relative;
    color: rgb(130, 130, 130);
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 40px;
    width: 40%;
    margin-right: 40%;
    margin-top: 30%;
}

.exp-1-sa-h2 {
    color: #fff;
    font-size: 24px;
}

.exp-1 {
    position: absolute;
    color: rgb(130, 130, 130);
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 40px;
    width: 40%;
    margin-left: 25%;
    margin-top: 5%;
}

.exp-1-h1 {
    color: rgb(239,49,35);
    font-size: 36px;
}

.exp-1-p1 {
    margin-top: 5%;
}

.exp-1-p2 {
    margin-top: 5%;
}

.exp-1-dates {
    color: #fff;
    font-size: 24px;
}

/* Experience 2 Section --------------------------------------------------------------*/
.experience-2 {
    height: 100vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

.icr-img {
    position: absolute;
    margin-top: 10%;
}

.exp-2 {
    position: absolute;
    color: rgb(130, 130, 130);
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 40px;
    width: 40%;
    margin-left: 6%;
    margin-top: 5.25%;
}

.exp-2-h1 {
    color: rgb(2, 8, 129);
    font-size: 36px;
}

.exp-2-p1 {
    margin-top: 5%;
}

.exp-2-dates {
    color: #fff;
    font-size: 24px;
}

.exp-2-sa {
    position: relative;
    color: rgb(130, 130, 130);
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 40px;
    width: 60%;
    margin-top: 24%;
}

.exp-2-sa-h2 {
    color: #fff;
    font-size: 24px;
}

/* Experience 3 Section --------------------------------------------------------------*/
.experience-3 {
    height: 100vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

.siemens-img {
    position: absolute;
    margin-top: 5%;
}

.exp-3 {
    position: absolute;
    color: rgb(130, 130, 130);
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 40px;
    width: 40%;
    margin-left: 20%;
    margin-top: .25%;
}

.exp-3-h1 {
    color: rgb(104,185,186);
    font-size: 36px;
}

.exp-3-p1 {
    margin-top: 5%;
}

.exp-3-dates {
    color: #fff;
    font-size: 24px;
}

.exp-3-sa {
    position: relative;
    color: rgb(130, 130, 130);
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 40px;
    width: 65%;
    margin-top: 25%;
}

.exp-3-sa-h2 {
    color: #fff;
    font-size: 24px;
}

/* Goal Section --------------------------------------------------------------*/
.goal {
    height: 100vh;
    display: flex;
    background-color: rgb(21, 21, 21);
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.goal-container {
    position: absolute;
    text-align: center;
    margin-top: 8%;
    width: 30%;
}

.goal-h1 {
    color: #fff;
    font-size: 36px;
}

.goal-p {
    color: rgb(130, 130, 130);
    font-size: 18px;
    line-height: 40px;
}

.reflection-container {
    position: absolute;
    text-align: center;
    width: 68%;
    margin-top: 20%;
}

.reflection-h1 {
    color: #fff;
    font-size: 36px;
}

.reflection-p {
    color: rgb(130, 130, 130);
    font-size: 18px;
    line-height: 40px;
}

.hr-goal {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(220, 220, 220);
    margin: 0;
    padding: 0;
    width: 45%;
    text-align: center;
    margin: 25px auto;
}

.hr-reflection {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(220, 220, 220);
    margin: 0;
    padding: 0;
    width: 35%;
    text-align: center;
    margin: 25px auto;
}

/* Contact Section --------------------------------------------------------------*/
.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.contact-area {
    width: 50%;
    font-family: "Montserrat", sans-serif;
    margin-top: 20%;
}

.contact-h1 {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
}
  
.contact-h1-2 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-top: 5%;
}

.contact-email {
    background-color: transparent;
    font-size: 36px;
}

.contact-email:hover {
    color: rgb(0, 204, 255, 0.7);
}

.contact-fb {
    background-color: transparent;
    font-size: 36px;
}

.contact-fb:hover {
    color: rgb(0, 204, 255, 0.7);
}

.contact-git {
    background-color: transparent;
    font-size: 36px;
}

.contact-git:hover {
    color: rgb(0, 204, 255, 0.7);
}

.contact-link {
    background-color: transparent;
    font-size: 36px;
}

.contact-link:hover {
    color: rgb(0, 204, 255, 0.7);
}

.contact-green {
    color: rgb(0, 204, 255);
}

/* Media Queries for Responsiveness --------------------------------------------------------------*/
@media only screen and (max-width: 1440px) {

    .logo-text {
        display: none;
    }

    .logo-name {
        padding: 0;
    }

    .landing-h3 {
        margin-top: 425px;
        width: 700px;
    }

    .learn-more-btn {
        margin-top: 600px;
    }

    #scrolldown-wrapper {
        display: none;
    }
}


@media only screen and (max-width: 1000px) {

    header {
        padding: 25px 20%;
        justify-content: space-between;
    }
    
    nav {
        display: none;
    }

    button {
        margin: 0;
    }

    .logo-text {
        display: none;
    }

    .logo-name {
        padding: 0;
    }

    .logo-name:hover {
        color: #fff;
    }

    .cta-button {
        margin-left: 20px;
        padding: 9px 25px;
        background-color: #000;
        color: rgb(255, 255, 255);
        border: 1px solid;
        border-color: #fff;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
    }
    
    .cta-button:hover {
        background-color: #000;
        padding: 9px 15px;
        margin-left: 30px;
        margin-right: 10px;
    }

    .landing-h1 {
        margin-top: 150px;
    }

    .landing-h1-2 {
        margin-top: 210px;
        width: 400px;
        line-height: 70px;
    }

    .landing-h3 {
        margin-top: 375px;
        width: 320px;
    }

    .learn-more-btn {
        margin-top: 800px;
    }

    #scrolldown-wrapper {
        display: table;
        margin-top: 800px;
        margin-left: 450px;
    }
}

@media only screen and (max-width: 500px) {
    .cursor__circle {
        display: none;
    }
    .cursor__circle--big {
        display: none;
    }
    .cursor__circle--small {
        display: none;
    }

    .landing-h1 {
        font-size: 35px;
        margin-top: 250px;
    }

    .landing-h1-2 {
        font-size: 35px;
        margin-top: 300px;
        width: 50%;
    }

    .landing-h3 {
        display: none;
    }

    .learn-more-btn {
        margin-top: 465px;
    }

    #scrolldown-wrapper {
        margin-left: 375px;
        margin-top: 625px;
    }

    .about-h1 {
        font-size: 35px;
        margin-top: 100px;
    }

    .about-p {
        font-size: 18px;
        width: 70%;
        margin-top: 175px;
    }

    .regular-link {
        font-size: 18px;
    }

    .circular-portrait.headshot {
        display: none;
    }
    
    .circular-portrait {
        display: none;
    }

    .leadership-h1 {
        font-size: 35px;
        margin-top: 75px;
        width: 50%;
    }
    
    .leadership-container {
        height: 80%;
        width: 100%;
        margin-top: 125px;
    }
    
    .lead-h2 {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
    }
    
    .lead-p {
        color: rgb(130, 130, 130);
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }
    
    .fa-robot {
        font-size: 35px;
        padding-bottom: 20px;
    }
    
    .lead-h2-1 {
        position: absolute;
        margin-left: 20%;
        margin-top: 20%;
        line-height: 25px;
    }
    
    .fa-laptop {
        font-size: 35px;
        padding-bottom: 20px;
    }
    
    .lead-h2-2 {
        position: absolute;
        margin-left: 60%;
        margin-top: 20%;
        line-height: 25px;  
    }
    
    .fa-code {
        font-size: 35px;
        padding-bottom: 20px;
    }
    
    .lead-h2-3 {
        position: absolute;
        margin-left: 20%;
        margin-top: 60%;
        line-height: 25px;
    }
    
    .fa-hiking {
        font-size: 35px;
        padding-bottom: 20px;
    }
    
    .lead-h2-4 {
        position: absolute;
        margin-left: 60%;
        margin-top: 60%;
        line-height: 25px;
    }

    .hw-img {
        margin-top: 10%;
        width: 80%;
    }

    .exp-1-sa {
        font-size: 14px;
        line-height: 30px;
        width: 80%;
        margin-right: 0%;
        margin-top: 165%;
    }

    .exp-1-sa-h2 {
        font-size: 20px;
    }

    .exp-1 {
        font-size: 14px;
        line-height: 30px;
        width: 80%;
        margin-left: 0%;
        margin-top: 55%;
    }

    .exp-1-h1 {
        font-size: 30px;
    }

    .exp-1-p1 {
        margin-top: 3%;
    }

    .exp-1-p2 {
        margin-top: 3%;
    }

    .exp-1-dates {
        font-size: 20px;
        margin-bottom: 1%;
    }

/*---------------------------------*/

    .icr-img {
        margin-top: 50%;
        margin-left: 20%;
    }
    
    .exp-2 {
        font-size: 14px;
        line-height: 30px;
        width: 80%;
        margin-left: 0%;
        margin-top: 100%;
    }
    
    .exp-2-h1 {
        font-size: 30px;
    }
    
    .exp-2-p1 {
        margin-top: 3%;
    }
    
    .exp-2-dates {
        font-size: 20px;
        margin-bottom: 1%;
    }
    
    .exp-2-sa {
        font-size: 14px;
        line-height: 30px;
        width: 80%;
        margin-top: 152%;
    }
    
    .exp-2-sa-h2 {
        font-size: 20px;
        
    }

/*----------------------------------*/

    .siemens-img {
        margin-top: 40%;
        width: 80%;
    }
    
    .exp-3 {
        font-size: 14px;
        line-height: 30px;
        width: 80%;
        margin-left: 0%;
        margin-top: 90%;
    }
    
    .exp-3-h1 {
        font-size: 30px;
    }
    
    .exp-3-p1 {
        margin-top: 3%;
    }
    
    .exp-3-dates {
        font-size: 20px;
    }
    
    .exp-3-sa {
        font-size: 14px;
        line-height: 30px;
        width: 80%;
        margin-top: 165%;
    }
    
    .exp-3-sa-h2 {
        font-size: 20px;
    }

}