body {
    font-family: 'Chicago', 'Geneva', Arial, sans-serif;
    background-color: #c0c0c0;
    margin: 0;
    padding: 0;
}

.mac-toolbar {
    background-color: #808080;
    display: flex;
    justify-content: space-between; /* Spread buttons and date to the edges */
    align-items: center; /* Vertically center the date */
    padding: 10px;
}

.mac-buttons {
    display: flex;
    align-items: center; /* Vertically center the buttons */
}

.mac-button {
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Chicago', 'Geneva', Arial, sans-serif;
    border-radius: 5px;
}

.mac-button:hover {
    background-color: rgba(208, 208, 208, 0.7);
}

.date-time {
    color: #000;
    font-family: 'Chicago', 'Geneva', Arial, sans-serif; /* Match font family */
    font-size: 16px; /* Adjust font size to match the buttons */
}

.content {
    margin: 20px;
}
